[2013-04-04 17:41] balnagy opened #2 "Configuring proxy middleware removes connect.static middleware"
Hi,

I was trying to setup my dev environment where I serve the static files (html, js, css) from local dir and proxy the REST requests to another server running on the different port. I was a bit confused how to use this, but if I configure how I saw in the documentation than it will remove the connect.static.

[code]

So I had to do this ugly trick

[code]

Do I misunderstand something?

Thx.

[2013-04-06 15:39] #2 closed, assigned to nobody

[2013-05-15 21:14] kevingarman opened #4 "500 Error on Apache"
Thanks much for your work.  Just FYI, I've come across something that might be of interest to others.

I set things up as is shown in the example:

context: '/dev/logger/backend',
host: 'localhost',
port: 80,
https: 'false',
changeOrigin: 'true'

...however I kept getting 500 errors when requesting files like localhost:9000/dev/logger/backend.  In the Apache log (I'm running Apache/PHP on the back

[2013-05-20 09:36] shairez opened #6 "How to proxy to a different context?"
Hi,
I'm using `grunt server` to open up a livereload server on localhost:9000
my current proxy setup is:

[code]

When I go to `localhost:9000/api` it tries to go to "localhost:8080/api`

How can I just proxy to `localhost:8080` without the context of `/api` on the target server?

[2013-05-26 18:21] #6 closed, assigned to nobody

[2013-06-12 14:06] abanctelchevrel opened #9 ""Fatal error" when accentuated characters in partials"
I'm using grunt-connect-proxy to simulate a baseUrl on my Angular application (generated with Yeoman), with the following config :

[code]

I run `grunt server --debug` to launch my dev server on `localhost:9000` .
This way, when I visit `localhost:9000/context` it actually displays the app hosted at `localhost:9000` .
It works well, aside from the fact that when my app loads a partial (using `ng-

[2013-06-12 14:18] yfr opened #10 "Changing headers"
A possibility to change specific header would be nice. I ran into a problem where i had to remove the referer header to get a CORS request for dev running.

in utils.proxyRequest i added:

[code]

and changed config in the gruntfile accrodingly. Would be nice to change headers more generaly. Or i there a better solution?

what do you think?

[2013-06-13 21:32] #10 closed, assigned to nobody

[2013-06-17 15:11] #9 closed, assigned to nobody

[2013-06-17 22:57] carlesandres opened #11 "Is it possible to proxy only xhr requests (or only non-xhr requests)?"
I am developing an application which I want to behave both as a single-page app and as a conventional Rails (multipage) app.

Therefore, I want to proxy non-xhr requests to the Rails server, but all my ajax requests I want them to be handled by "connect". Does this make sense? Is it currently feasible with grunt-connect-proxy?

[2013-06-20 09:30] #11 closed, assigned to nobody

[2013-06-26 05:54] tedkornish opened #12 "Subdomain matching as well as url/path?"
Hey there! Is it possible to check for and proxy a request subdomain match as well as a match to a specific path? I've got my `grunt server` command set to open `app.lvh.me:9000` - with lvh.me redirecting to localhost - and I'm querying a rails API on `localhost:3000` at `api.lvh.me:9000`.

**The goal is to redirect `api.lvh.me:9000` to `localhost:3000`.**

Is this functionality included right now

[2013-07-02 07:33] ghost opened #13 "500 Error for proxy to https"
I successfully proxied my requests to a standard server on port 80.

Config:

[code]

But when I changed the server to https on port 443, I get a 500 form the node server.
Config:

[code]

The response says: `An error has occurred: {}`

Did I find a bug or am I doing something wrong?

[2013-07-03 06:38] #13 closed, assigned to nobody

[2013-07-12 11:47] biegl opened #14 "Proxying not working with vhost"
First of all: You r awesome.

I am trying to proxy ajax calls from localhost:9000 to 'example.dev:80'.
Example.dev is a local apache instance.

proxies: [
        {
          context: '/api',
          host: example.dev',
          port: 80
        }
      ],

From the apache log files I see that apache is always trying to load the document root (localhost).

[2013-07-19 14:53] ddubyah opened #15 "Server error when https option set to true"
Hi. I'm having a little trouble setting up a proxy from http to https. If I understand the documentation, if I set the https option to true the proxy should use https. But when I do this I just get `An error has occurred: {}` and a 500 server error code.

Here's my setup:

[code]

So if I remove the `https: true` line it all works ok. But over http. This causes a redirect to the proper https site

[2013-08-15 01:11] #14 closed, assigned to nobody

[2013-08-15 21:34] ming-codes opened #16 "Logging proxied request"
Is there a way to log the proxied request?

[2013-08-19 16:43] nprbst opened #17 "Nice to provide array to options.context"
Instead of:

[code]

It would be nice to write:

[code]

[2013-08-23 06:29] mulderp opened #18 "Trying to load proxy fails"
Hi,

I am trying to integrate your setup in this Gruntfile:

<pre>
var proxySnippet = require('grunt-connect-proxy/lib/utils').proxyRequest;

module.exports = function(grunt) {
  var port = 8000,
      publicDir = './public',
      jsDir = publicDir + '/modules',
      lumbarFile = './lumbar.json',
      hostname = 'localhost';

  grunt.file.mkdir(publicDir);
  grunt.file.mkdir(jsDir);

  grunt.in

[2013-08-25 14:26] dmitrybelyakov opened #19 "Explodes on 204 response"
Hi!

I came across a strangest thing. Whenever our API returns a 204 (No content) status typically as a result of DELETE our connect/connect-proxy stack explodes giving a meaningless error: "Fatal error: Can't render headers after they are sent to the client."

Could you please check if 204 status header in response works well for you?

Thanks and have a great day :)

[2013-08-31 07:30] #19 closed, assigned to nobody

[2013-09-06 12:08] carlesandres opened #22 "Can't figure out how to remove all contexts"
Hi again!

I am developing a single page app and I want any url within my app's domain name to be served from exactly the same script. Thus, while in development, I want any of those urls:

[code]

to be served from `http://localhost:3000` and it is not clear to me how to do it from the README examples. I have tried in a lot of different ways with no luck so far. I would appreciate any help on thi

[2013-09-07 07:54] #22 closed, assigned to nobody

[2013-09-07 13:27] #18 closed, assigned to nobody

[2013-09-20 09:21] ddprrt opened #23 "How to connect to multiple servers?"
Hi there!

First of all: Great tool! Really reduced my proxy setup time from about a half day of Apache configuration to half a minute of simply adding a task. So big thumbs up for that!

But now I've the use-case of directing to two different servers in one run, and I tried to create this something like that:

[code]

So i can use

localhost:9000/someservice which proxies to http://subdomain1.som

[2013-09-22 16:35] brentertz opened #24 "Trying to proxy to api.githib.com"
Hello,

I am trying to proxy requests from `/api` to `https://api.github.com` but keep getting redirected to `http://developer.github.com`.

Curl requests to `http://localhost/api` return a 301 redirect pointing to `http://developer.github.com` whereas curl requests direct to `https://api.github.com` return 200 success and the expected content.

Below is proxy my configuration.  The lvh version is

[2013-09-28 19:27] #16 closed, assigned to nobody

[2013-09-28 19:33] #4 closed, assigned to nobody

[2013-09-28 19:48] #15 closed, assigned to nobody

[2013-09-28 19:54] #23 closed, assigned to nobody

[2013-09-28 20:42] #24 closed, assigned to nobody

[2013-09-28 22:36] #17 closed, assigned to nobody

[2013-10-22 14:57] rocky-jaiswal opened #29 "Latest Angular Generators"
Hi,

I setup a new project with the Yeoman Angular generator and tried to proxy some calls to the Rails API backend. However, it seems that things have changed with the latest grunt-contrib-\* packages and while I followed the documentation nothing works for me.

Can anyone please try setting up the proxy with the latest Angular generators and see if they are facing any problems.

Thanks :)

[2013-10-24 17:04] alecook opened #30 "Proxies not used on Heroku"
I seem to be having an issue where my proxies do not get picked on Heroku, but work great locally.

Instead on Heroku all requests expected to get proxied just get routed to my Heroku app.

Here is our grunt setup:

[code]

[2013-10-28 18:55] killfill opened #33 "Websocket support"
Hi, how could i proxy websocket between the browser and the backend?

Thanks for the tips!

[2013-11-26 07:30] switer opened #35 "Can context option support excluding some context?"
Can context option support excluding some context? Such as:

[code]

With `!` prefix means that  `/ctx3` is  excluded from proxy contexts;

[2013-11-29 14:10] kannix opened #36 "doesn't work at all, probably a config problem?"
I'm trying to get it running but connect keeps responding with a 404.
I guess I did something stupid in the Gruntfile but can't find the error.
This is my config and package file: https://gist.github.com/kannix/2c022e109668a1dab0f7

[2013-12-02 09:41] #29 closed, assigned to nobody

[2013-12-15 21:14] Golodhros opened #40 "Can't find the right configuration"
Hi there,

I have been trying to set up a proxy on my project based on Yeoman Marionette generator: https://github.com/mrichard/generator-marionette

After trying a ton of different configurations on the Gruntfile.js, I can't have it working, my current one is https://gist.github.com/Golodhros/7978154

Thanks a lot for your work guys, this would be quite useful in order to get my tests working!

[2013-12-27 17:29] #33 closed, assigned to nobody

[2013-12-27 17:30] #36 closed, assigned to nobody

[2013-12-27 17:31] #35 closed, assigned to nobody

[2013-12-27 18:40] Lalem001 opened #44 "Cannot read property 'proxyWs'"
Updating to 0.1.7 gives me the following error:

[code]

The offending line is from lib/utils:

[code]

Changing it to the following appears to resolve the issue:

[code]

I do not know the full breadth of code for this project, so I don't know if perhaps my config is setup wrong for 0.1.7, but it at least worked fine for 0.1.6.

Reference issue #34.

[2014-01-24 07:07] js1972 opened #46 "Can't get proxy working with a basic test odata service: ECONNREFUSED"
I've been trying to get grunt-connect-proxy to proxy requests containing "/Northwind" at localhost:8080 to services.odata.org:80.

i.e. when a GET http://localhost:8080/Northwind/Northwind.svc/ occurs the proxy should do a GET http://services.odata.org:80/Northwind/Northwind.svc/.

However - I always get a ECONNREFUSED error with no further details. When I run grunt serve --verbose I can see that

[2014-01-25 22:23] raDiesle opened #47 "REST- Body Request Example & Support"
Hi,

My situation: I'd like to have a mock-server to match REST-Verbs:

How about matching specific parameters inside a body like
when sending a POST Request with a specific ID,
I'd like to redirect it to a file with this concrete ID

An example or support would be nice!

[2014-01-28 08:04] #46 closed, assigned to nobody

[2014-02-10 19:31] xaka opened #48 "TypeError: Cannot read property 'verbose' of undefined"
When i'm running my tests in `Travis CI`, i'm getting the following error and I tried very hard to look at the code and couldn't find where `utils.log` should come from. I'm wondering if i'm missing something in configuration file or so. Thanks!

[code]

[2014-02-13 17:17] #44 closed, assigned to nobody

[2014-02-16 21:50] #47 closed, assigned to nobody

[2014-02-16 21:50] #40 closed, assigned to nobody

[2014-03-11 02:32] #48 closed, assigned to nobody

[2014-03-11 03:20] drewzboto opened #52 "Update http-proxy dependency to 1.0.2"
See comments #33.

[2014-04-27 17:36] adbonnin opened #53 "URL with colon are not forwarded"
Requests that contains a colon ':' in their URL are not forwarded to the proxied server.
For example, this request is forwarded correctly : "http://localhost:9000/test/test " and those other one are not : "http://localhost:9000/test/:", "http://localhost:9000/test/test:test".

[2014-05-01 07:32] csreddy opened #54 "documentation bug: example code for proxy config shows "server" key"
The latest version does not have "server" as key for "options".  It should show:
grunt.initConfig({
   connect: {
      options: {
        port: 9000,
        // Change this to '0.0.0.0' to access the server from outside.
        hostname: 'localhost',
        livereload: 35729
      },
...
...
}

Notice that there is no "server" as key for options. Same goes for Without Livereload example as well

[2014-05-10 16:24] utilityboy opened #55 "Enabling proxies for "dist" target"
Hello,

This may be a somewhat of a silly question, but I haven't been able to come up with the proper configuration to allow proxying for a dist target.  I have an angular app based on yeoman's angular generators and would like to test some aspects of the dist target without deploying the entire application.

My understanding of Grunt is somewhat limited, but wanted to ask the if this was in fact

[2014-05-13 15:53] victorwpbastos opened #56 "jit-grunt support"
How can I use the `configureProxies` task with jit-grunt? I'm always getting:

[code]

[2014-05-14 20:41] JohnBueno opened #57 "Config not working."
I am having quite a bit of trouble getting grunt-connect-proxy working properly.  Based on my current grunt file I see through terminal that the proxy has been set up with the message:

Running "configureProxies:server" (configureProxies) task
Proxy created for: /api to localhost:8000

However, all requests to /api are still routing through localhost:9000 which is the express server the angular ap

[2014-05-21 17:17] rich66 opened #58 "should it be possible to make a post request to foo.dev running on apache2"
I try to make a post request and all works fine, the route is accessed, but the $_POST in php stays empty

from angularJS
$http.post("/api", {"foo":"bar"})
      .success(function(data, status, headers, config) {
          $scope.data = data;
          console.log(data);
      }).error(function(data, status, headers, config) {
          $scope.status = status;
      });

$route3 = $r->post("/api",

[2014-05-22 03:27] zjhiphop opened #59 "The request not go with system VPN"
Currently, i try to use grunt-connect-proxy for some third party services, but still have a problem. As you know, facebook is blocked in china, so when i try to use this plugin, i need to do two layer proxies. For example, there is a search service in facebook called  `fb.com/search?XXX` , i want to proxy  `localhost/fb/search?XX` to this service, and i also setted a system VPN so that i can acces

[2014-05-22 18:23] #58 closed, assigned to nobody

[2014-05-24 01:58] atian25 opened #60 "provide way to modify req/res"

[2014-05-28 14:56] martin-sweeny opened #61 "Proxy not catching requests?"
I am having issues catching requests to `api/`..

[code]

When I run `grunt serve` and try out some AJAX calls, they are still going to `http://localhost:9000/api/etc`. This is the raw header from Fiddler:

[code]

[2014-06-05 14:56] JSteunou opened #63 "Proxy broken?"
I tried with a simple gruntfile but never succeed to make it works

[code]

Opening `localhost:8080/api` I have a `Cannot GET /api` displayed even if I create a folder `api` in the folder served under my other server on 8001.

If I create a folder `api` under the folder of this Gruntfile I have no longer the error... but that's not what I expected.

[2014-06-17 07:22] Merguez22 opened #64 "0.1.11 not available on NPM"
The 0.1.11 vesion is released but not available on NPM https://www.npmjs.org/package/grunt-connect-proxy.

Could you please make the uprade ?

[2014-06-27 13:14] zenhunt opened #65 "Error with grunt-contrib-connect 0.8.0"
This plugin is broken in usage with grunt connect 0.8.0, updating to this version will result in the following error:

Running "connect:devproxy" (connect) task
Verifying property connect.devproxy exists in config...OK
File: [no files]
Options: protocol="http", port=9997, hostname="closedhost", base="tmp", directory=null, keepalive=false, debug=false, livereload, open=false, useAvailablePort=false

[2014-07-22 03:13] #57 closed, assigned to nobody

[2014-07-22 03:14] #60 closed, assigned to nobody

[2014-07-29 07:16] anudeepjusanu opened #66 "Facing issue while running the grunt proxy"
Loading "Gruntfile.js" tasks...ERROR

Aborted due to warnings.

[2014-07-30 08:40] dewdad opened #67 "Configure proxies to work behind a corporate proxy"
When I'm out of the office, I use the following config;

proxies: [{
        context: '/V2',
        host: "services.odata.org",
        changeOrigin: true
      }]

And it works. In my office I have proxy, {host: "proxy.location.company.corp", port: 8080}.

I tried this:
proxies:
          [
                {
                    context: '/v2',
                    host: 'proxy.location.company.co

[2014-08-09 22:59] svenpopping opened #68 "Is it possible to use a wildcard in context?"
Is it possible to use a wildcard in this context?

{
          context: [
            '/[wildcard]/_all_docs'
          ],
          host: '127.0.0.1',
          port: grunt.config.get('connect.proxies.1.port'),
          https: false,
          changeOrigin: true,
          xforward: false,
          ws: true,
          headers: {
              "Access-Control-Allow-Origin": "_",
              "A

[2014-08-11 17:25] niltz opened #69 "Host header not properly set in proxied request"
here is my config:

[code]

Which works, and successfully proxies all XHR requests to `http://localhost:8000/otherapi` to `http://www.other.com/api`. However, without the headers option, the proxy doesn't work. The request is sent to the ip for `www.other.com` but the host header is still `localhost:8000` and the api request fails. I had to add the extra host header to get it to work, which I don'

[2014-08-20 14:47] #56 closed, assigned to nobody

[2014-08-20 15:17] #64 closed, assigned to nobody

[2014-08-20 15:26] #52 closed, assigned to nobody

[2014-08-20 15:33] #54 closed, assigned to nobody

[2014-08-20 15:37] #65 closed, assigned to nobody

[2014-08-26 15:29] asujata opened #70 "0.1.11 caused fatal error: socket hang up"
The latest update to 0.1.11 caused my existing proxy setup to fail with "fatal error: socket hang up".

My setup:

[code]

The error only occured when trying to use https.

Switching back to 0.1.10 resolved my issue.

[2014-08-26 15:40] shayh opened #71 "problem with self signed certificats"
I have a self signed certificate on a https site I point the proxy to.
I get the following error:
Fatal error: Parse Error
Fatal error: socket hang up

my configuration is:

[code]

please help,
Shay

[2014-09-01 11:50] derzwen opened #72 "Replacement for changeOrigin option?"
The changeOrigin option was removed in 0.1.11 (worked fine in 0.1.10). Is there any replacement for this? How can i change the host header of the proxied request so that it matches the one from the original request? We need this functionality for our project to work properly.

BTW: Removing this option was not a minor change because it breaks existing functionalities which should not happen when i

[2014-09-10 17:53] reda-alaoui opened #73 "Unable to download pdf files through the proxy"
Hi everyone,

I am unable to download pdf files through the proxy served by an ordinary servlet at `/myapp/pdfservlet/` on my tomcat server.
When I try without proxy, pdf files are correctly downloaded.

Here is my proxy configuration:
[code]

Here is the request/response given by Chrome:

<pre>
<b>Remote Address</b>:127.0.0.1:9000
<b>Request URL</b>:http://localhost:9000/myapp/pdfservlet
<b>Reque

[2014-09-17 00:13] djalexd opened #74 "302 Found/Temporary moved not proxied?"
Backend responds with such a code but client receives 200.

The proxy configuration is:
  proxy_api: {

[code]

Is there anything else I should do?

[2014-09-24 14:46] rshailu opened #75 "use grunt-connect-proxy forward from port 80 to 3000"
After install and running mean.js on my linux vm, I wanted to use mycompany.com to forward to ipaddress:3000 using grunt-connect-proxy. I get error "connection refused", even when I do curl on the same linux vm. Thinking it might be due to incorrect configuration of my DNS registration, I did try with ipaddress, still no luck. Can some one please help me with proxy forwarding with mean and grunt.

[2014-09-29 22:41] #68 closed, assigned to nobody

[2014-10-08 21:29] joshrouwhorst opened #77 "Failed to load resource: net::ERR_SSL_PROTOCOL_ERROR and 301"
Hey, I'm getting the above error when I try to use proxies.

Here's my connect options:

[code]

And my serve task:

[code]

I've tried using `https: true` but that gives me the same error.

I noticed that when I do a POST to `/api/account` it first returns with a status `301 Moved Permanently` then it immediately does a GET request to `/app/api/account` which seems to be the request actually thro

[2014-10-10 07:42] jijo777 opened #78 "Can we host the api in subdomain?"
Can we host the api in a subdomain and make it work with the proxy?
What will be the configuration for setting the subdomain?
Now my configuration is like this
proxies: [{
                context: '/', // the context of the data service
                host: 'abc.example.com', // wherever the data service is running
               // port: 999 // the port that the data service is running on

[2014-10-14 10:43] Siim opened #79 "Getting 400 Bad request: "You're speaking plain HTTP to an SSL-enabled server port." error."
Hi!

I have some configuration issues on OSX Mavericks: if I try to proxy some requests to https server then I get 400 Bad request. Here is the full message:

[code]

I thought that if I set https option to **true** then the proxy will handle it. I also configured the client app server to use SSL connection and even this will result the same error:

Here is my configuration:

[code]

[2014-10-14 10:55] #78 closed, assigned to nobody

[2014-10-27 15:22] jrock2004 opened #80 "Replace charles proxy?"
I am using charles in my development to test local changes against a remote dev environment. Can this proxy do the same thing for me or is this not what this is for?

[2014-10-29 16:10] maksimr opened #81 "Fatal error: connect ECONNREFUSED kills connect server"
Error `Fatal error: connect ECONNREFUSED` in connect-proxy kills main server.
Seems we should return something like and not down connect server.

Thanks!

[2014-11-10 12:38] typekpb opened #82 "bower package"
would be great to have bower package available

[2014-12-23 23:31] musically-ut opened #83 "Simplify instructions in the README.md"
Since [version `0.7.1`](https://github.com/gruntjs/grunt-contrib-connect/commit/4567cf3d9bc71d2504d59a8b431a704c9bb76a47), `grunt-contrib-connect` passes `middlewares` array to the `middleware` option's function. This array can be modified to change the `middleware` stack instead of hand-picking which middlewares to retain.

Hence, if we add a peerDependency on `grunt-contrib-connect` at version

[2015-01-06 20:21] ohmance commented on #79
+1

[2015-01-11 20:43] SeyZ commented on #72
Thanks @TiTerm

[2015-01-12 20:26] outaTiME commented on #69
Same issue here =(

[2015-01-13 11:32] Serginho opened #84 "Too much delay in connections throw the proxy"
I'm using the proxy in a angular project with a local server and there is an important delay when the proxy is up.

Comparative requests:
Request --- Proxy  --- Server
request1 --- 15.3s --- 602ms
request2 --- 5.8s  --- 387ms

Why does the proxy have that delay?I think it's too much delay.

[2015-01-13 12:00] pschyska commented on #79
I'm also affected by this, can't rollback to 0.1.10 because then my wss proxy doesn't work.
I found this line https://github.com/drewzboto/grunt-connect-proxy/blob/master/tasks/connect_proxy.js#L53 and the next to be a bit odd. The target should have a protocol, and secure is only about certificate validation (in the case you want to mitm the https).
Maybe this changed from previous versions of ht

[2015-01-13 16:14] drallgood commented on #81
+1 It's really annoying that I have to restart the server...

[2015-01-13 17:15] Serginho commented on #84
I fixed it partially, If you choose a port different to 80, the proxy works better and more quick.

[2015-01-14 17:17] #84 closed

[2015-01-19 00:59] pdf commented on #75
I didn't read all your config because the formatting is completely broken (wrap code three backticks (\`\`\`), or indent it all with three spaces to fix the formatting).  But, you can't bind to a port lower than 1024 as a non-root user, and it's an absolutely terrible idea to run Grunt as root, as it's also a bad idea to run it as your production server.  Look at getting someone to help you set up

[2015-01-20 00:17] pocketmax commented on #73
I've got the same problem...

[code]
this works...
[code]
this does not...
[code]

[2015-01-21 19:29] SeyZ commented on #79
+1

[2015-01-26 08:48] david-gang opened #85 "options.base is an array"
Following the stackoverflow

https://stackoverflow.com/questions/27176920/grunt-connect-not-starting-with-error-root-path-must-be-a-string

[code]

should be changed to

[code]

Intersting why options.base is an array

[2015-01-27 19:30] dharlanoliveira commented on #81
+1 I have the same problem

[2015-01-30 07:32] webskin commented on #73
Same problem for me. Tomcat serves my pdf with `Content-Length: xxx` and the proxy 'Transfer-Encoding: chunked'. Surprisingly, when I change the extension of the url to `.png` but let `Content-Type` to `application/pdf` it works. So may be a content negotiation problem.

[2015-02-02 14:30] aurelin commented on #79
+1
Reverted to 0.1.10 - no issues there.

[2015-02-03 08:41] procyborg commented on #70
absolutely. reverting to 0.1.10 suppresses the socket-hangup bug. i am proxying a https endpoint for oauth2.
thanks for the pointer guys.

[2015-02-04 12:14] roc opened #86 "Add regular expression support/wildcard support to context"
It would be great to get some support for regex/wildcard matching in the context.

So for example

[code]

— where `*` is whatever house ID we have at that point.

This would be really useful when you want to proxy  `'/api/houses/*/rooms'` but don't want to proxy e.g. ` '^/api/houses/'`

[2015-02-05 09:22] ihr commented on #70
I can confirm that changing the port worked for me. Here is relevant part of my **Gruntfile.js**:

[code]

[2015-02-06 16:29] bostrom commented on #70
I'm having a problem with secure WebSocket connections over the proxy (HTTPS->HTTP). Normal websocket connections work fine in my app. So I thought I'd debug the wss case and wrote a WebSocket test for it. I decided to go simple and started off with just normal ws:// connections.

However, even that didn't work since I got slapped in the face by this "fatal error: socket hang up" bug, so now I'm s

[2015-02-13 02:56] jaymes-bearden commented on #73
Exact same problem with me. Does anyone have a suitable workaround for the time being?

[2015-02-20 10:23] reda-alaoui commented on #73
A workaround would be great or at least knowing the library's layer to modify ...

[2015-02-20 12:28] kglef commented on #73
A workaround would be sweet!

[2015-02-22 20:53] morfin opened #87 "proxying to an apache virtual host domain takes arounds 5 seconds to resolve"
Hi,

If I proxy to localhost is very fast (100ms). But proxying to something like mysite.local takes around 5 seconds.

This delay does not happen if I load mysite.local directly from browser, so does not seem to be an apache misconfiguration.

Any idea ?

[2015-02-23 12:25] kaczynskid commented on #71
Thx guys! Took me a while to find this page, but worked like a charm. Had `HTTP 400: The plain HTTP request was sent to HTTPS port` response and downgrading fixed it!

[2015-02-25 16:47] michi88 commented on #73
+1 same problem here

[2015-02-27 06:39] xiaoshao commented on #70
I have the same problem in 0.1.11. I have two proxies as follows.
`{
                context: '/google',
                host: 'google.com',
                port: '80',
                rewrite: {
                    '^/google': '',
                }
            },
            {
                context: '/baidu',
                host: 'baidu.com',
                port: '80',
                rewrite

[2015-03-01 19:20] patojimenez commented on #55
HI @zimbrecka, Can you add an example for "proxies" ?. I try this add the next code in dist configuration.

      dist: {
        options: {
          open: true,
          base: '<%= yeoman.dist %>',
          middleware: function (connect,options) {
            if (!Array.isArray(options.base)) {
                options.base = [options.base];
            }
            // Setup the proxy

[2015-03-02 07:48] patojimenez commented on #30
I found the solution for this. In your proxies settings you add the headers and change origin vars. Here my proxies options:

      proxies: [
       {
        context: '/api',
        host: 'api.domain.com',
        port: 80,
        changeOrigin: true,
        https: false,
        headers: {
            'host': 'api.domain.com'
        }
       }
      ],

This configuration found for me. I add

[2015-03-02 08:37] zimbrecka commented on #55
Hello @patojimenez, for sure I can (we load our Grunt config w/ load-grunt-config) :

[code]

[2015-03-02 08:48] patojimenez commented on #55
Thanks a lot @zimbrecka, it works for me.

[2015-03-02 09:12] zimbrecka commented on #55
Happy I could help !

[2015-03-02 09:57] patojimenez commented on #55
@zimbrecka have you an email contact ?, For some reason after run "grunt build" and create dist directory in my server appear and error 403. How can I check if the proxies settings are in my compiled js ?.

[2015-03-09 11:52] eesdil commented on #61
Seems it is not finding the correct host if I dont have the host header defined... seems  that it has issue with the port.

[2015-03-09 15:38] ddctd143 commented on #87
I have same problem with nginx. Was looking for solutions and found this issue.

[2015-03-09 16:54] iamchairs commented on #79
Has anyone forked and fixed this issue?

[2015-03-10 06:31] elsigh commented on #86
+1

[2015-03-10 11:46] yashgarg17 opened #88 "Unable to mock POST request"
It seems the plugin is not able to mock POST request. Here is the configuration in grunt -
        connect: {
            server: {
                options: {
                    port: 9000,
                    // Change this to '0.0.0.0' to access the server from outside.
                    hostname: 'localhost',
                    livereload: 35729
                },
                proxies: [

[2015-03-12 11:51] ianblenke commented on #70
I'm having the same "Fatal error: socket hang up" problem with https proxy. Using http works just fine.  Reverting to 0.1.10 doesn't seem to help. Would love to turn up the debugging here to understand what the problem may be. Any hints as to how to accomplish that?

[2015-03-12 11:53] ianblenke commented on #70
Correction: reverting to 0.1.10 did work, I had to clean out the newer node_modules version first.

[2015-03-14 11:50] zenhunt commented on #65
Tony! n1. Thank you.

[2015-03-23 09:22] oussamaelgoumri opened #89 "Fatal error: connect ECONNREFUSED Fatal error: socket hang up"
when i run grunt serve i get this error: Fatal error: connect ECONNREFUSED
Fatal error: socket hang up

i've followed the steps in the documentation, and from this article http://fettblog.eu/blog/2013/09/20/using-grunt-connect-proxy/ and others arround the web, but always the same error, am usng yeoman angular generator.

[2015-03-23 14:34] bartoszgit opened #90 "Firefox & websocket doesnt work"
When using FF and proxy connection to websocket cannot be established since firefox  sends  Connection: "keep-alive, Upgrade" and node-http-proxy accepts only Connection: "Upgrade"

node-http-proxy fixed this here https://github.com/nodejitsu/node-http-proxy/commit/51eeebef683f6f6daca3c8c7640064254788b49c  but grunt-connect-proxy uses old version of that module.

[2015-03-24 01:05] hummorsa commented on #71
+1 in the downgrade ! after a day I found this page !

[2015-03-26 08:44] frozenluo commented on #72
Thanks @TiTerm,  you saved my day!

[2015-04-02 14:08] dziamid opened #92 "Forward all requests for specific domain?"
Please, bare with my understanding of `proxying` concept. I need to intercept all requests to specific domain and forward them to another domain. For example, my app is being served at `http://localhost:8000`, I have cors xhrs requests going to `https://some.public.api.com` that I want to forward to `http://localhost:7000`. Is that possible with `grunt-connect-proxy` or I need another tool?

I hav

[2015-04-03 11:44] andhapp opened #93 "Proxy to websocket doesn't seem to work"
I am quite new to grunt and node, so please let me know anything obvious that I overlooked. I have a pretty simple set-up as I just wanted to test the proxy to a websocket server, here's the code:

### WebSocket server (server.js)

[code]

### Package.json

[code]

### Gruntfile.js

[code]

All these files are in the same directory. In order to run these files, I do the following:

1. In Terminal

[2015-04-04 23:21] telagraphic opened #94 "Gruntfile.js middleware setup not working with AngularJs and Rails 4 API"
I've read a couple of SOF posts and tried the code provided in the GCP Github Page, but they do not proxy any client-side requests to my server.  The task is being loaded, but chrome network shows the request does not proxy.  I had this working a month ago but deleted the project and could not recover it(Hating myself for that one).  Any advice on how to set up the GCP middleware for a Rails4 and

[2015-04-06 21:06] EricWVGG commented on #83
I did not find the instructions very clear either.

That should probably read "Once". It doesn't say where in the Gruntfile this command goes. And anyway it doesn't even seem necessary.

huh?

Regardless, it does appear to work perfectly once installed. Thank you for making and maintaining this tool.

[2015-04-09 20:01] Stratus3D commented on #79
+1

[2015-04-09 21:30] Stratus3D commented on #71
Thanks everyone. Downgrading to version 0.1.10 worked for me as well.

[2015-04-16 04:23] realdah commented on #63
Initially, it does not work for me, however, it is more like a combination of configuration to do this magic.
Below document is so good and simple to save multiple hours for me!

http://www.hierax.org/2014/01/grunt-proxy-setup-for-yeoman.html

While, still you need to be aware that, in middleware configuration, you need to combine the static content with the proxy settings recommended by its docum

[2015-04-17 01:01] crazyatlantaguy commented on #86
+1

[2015-04-22 10:52] imalhasaranga opened #95 "Unexpected error thrown in a working gurnt file"
Recently one of my colleague clone the working branch and tried to run it.. but unexpectedly when grunt is loading this error throws

$ grunt serve
Loading "connect_proxy.js" tasks...ERROR

Running "serve" task
Warning: Task "configureProxies" not found. Use --force to continue.

Aborted due to warnings.

but at that time my clone was working fine and I did not have any changes to the grunt, to un

[2015-04-22 11:10] esseti commented on #95
I used yo to create a angular project yesteday and it worked and still work.
I tried today and i've the same problem as this issue.

So it could be that something got updated over the night and breaks the compatibility.

[2015-04-22 11:15] esseti commented on #95
I noticed that the one which works has `eventemitter3@0.1.6` while the other `eventemitter3@1.0.0` can be this?

[2015-04-22 11:26] dzmitry-kankalovich commented on #95
Same issue here, same clues about eventemitter

[2015-04-22 11:28] imalhasaranga commented on #95
@esseti  Indeed that is the issue... thanks man issue fixed :+1: ,  hopefully this will fixed soon

[2015-04-22 11:35] ruiaraujo commented on #95
@imalhasaranga I would leave this open until it is actually fixed.

The real solution for this project would be to update the http-proxy dependency to the latest version which has eventemitter pinned.

[2015-04-22 11:36] dzmitry-kankalovich commented on #95
@ruiaraujo I will definitely agree with you, just check this out: https://github.com/nodejitsu/node-http-proxy/blob/v1.1.6/package.json#L20

[2015-04-22 11:37] dzmitry-kankalovich commented on #95
@imalhasaranga please reopen issue, workaround found, but not the real solution.

[2015-04-22 11:47] imalhasaranga commented on #95
Sorry guys..

[2015-04-22 11:48] ruiaraujo commented on #95
I have written a PR to fix the issue.

In the meanwhile, just use the fork with patch applied since it may take a while until it is merged.
Just place this line on your package.json
"grunt-connect-proxy": "git://github.com/ruiaraujo/grunt-connect-proxy#patch-1",

[2015-04-22 15:11] mtraynham commented on #95
@ruiaraujo Thanks!

[2015-04-22 16:00] mtraynham commented on #95
@ruiaraujo After skimming, I think this repo is probably dead...  Anyone willing to fork/rename/push to npm?

[2015-04-22 17:55] MrHus commented on #95
For the interested: the issue is that EventEmitter3 exports itself like so:

[code]

And it is required in http-proxy as:

[code]
There exists no 'EventEmitter' key as EventEmitter it is the 'export' itself so that line should be:

[code]

[2015-04-22 19:51] alarrosa14 opened #97 "TypeError: Cannot read property 'prototype' of undefined"
I can't load grunt-connect-proxy. After installing it I get the following error after executing `grunt serve`:
[code]

Grunt version: 0.4.5

[2015-04-22 20:14] thedug commented on #97
Same here. My build is blowing up.

Looks like the new version of eventemitter3 (1.0.1) is causing the error

Looking back through our build server this version passed..

grunt-connect-proxy@0.1.11 node_modules/grunt-connect-proxy
└── http-proxy@1.1.6 (eventemitter3@0.1.6)

This one failed

grunt-connect-proxy@0.1.11 node_modules/grunt-connect-proxy
└── http-proxy@1.1.6 (eventemitter3@1.0.1)

[2015-04-22 20:23] thedug commented on #97
We are going to use npm shrinkwrap to force the older version of eventemitter3

[2015-04-22 20:48] phobetron commented on #97
Here's the (closed) bug ticket for eventemitter3 https://github.com/primus/eventemitter3/issues/29

Looks like there are breaking changes that everyone is expected to patch against.

[2015-04-22 21:40] lostthetrail commented on #97
I am also seeing this issue.

[2015-04-22 23:22] sjerman commented on #97
shrinkwrapping does fix the issue...

[2015-04-23 00:04] jaan commented on #97
same here:
[code]

[2015-04-23 00:11] phobetron commented on #97
As a simple workaround, I pinned the eventemitter3 version in my package.json file.
[code]

[2015-04-23 00:17] emiller commented on #97
We also hit this issue. `http-proxy` released a new version ~9 hours ago which may be the likely cause. If @phobetron's simple fix works, then there is a good chance that the problematic commit in the new version is:

https://github.com/nodejitsu/node-http-proxy/commit/18c77cafc7d5479502cf5c4d2b663d8f85cfd6d4#diff-8bcb067b974b0e74fe86cdb07748315e

[2015-04-23 00:38] thedug commented on #97
@phobetron How can you peg it in your package.json to fix this? This is a transitive dependency so it will install both versions right?

[2015-04-23 00:43] thedug commented on #97
shrinkwrap fails for me on my build server. arg!

`linux-x64-node-0.10` exists; testing
Binary is fine; exiting
npm ERR! cb() never called!
npm ERR! not ok code 0

[2015-04-23 01:36] phobetron commented on #97
All I know is, it worked for me. I placed that line among my dev dependencies.

[2015-04-23 01:50] thedug commented on #97
Strange that did work. How does a project dependency impact a dependency from another module since these are downloaded into sub dirs.

[2015-04-23 08:26] fidel-karsto commented on #95
@MrHus is right. And for the even more interested, this seems to be the reason behind why things broke yesterday:

* node-http-proxy declared its dependency (until version 1.7.2) to EventEmitter3 with an asterisk instead a semantic version pattern [s. commit](https://github.com/nodejitsu/node-http-proxy/commit/81874f795b7df7929e03d9d4cb98a947b1ef114b#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)
* Everyt

[2015-04-23 08:34] drewzboto commented on #95
sorry i haven't a lot of time to work on this repo. if anyone wants admin access, let me know and i'll assign it

[2015-04-23 08:34] #95 closed

[2015-04-23 09:52] esseti commented on #97
have a look at this https://github.com/drewzboto/grunt-connect-proxy/issues/95

[2015-04-23 10:23] ruiaraujo commented on #92
This tool will not help with that.

This proxy is installed on the server, hence the requirement that it can only proxy to requests to the same domain.

For your scenario, can do it with /etc/hosts file on Linux or OS X. I don't know how to do it in Windows.

[2015-04-23 10:23] #92 closed

[2015-04-23 10:24] ruiaraujo commented on #86
Feel free to send a PR.

[2015-04-23 10:36] fidel-karsto commented on #95
@drewzboto could you update the version to 0.1.12 and update the sources on npm as well?

[2015-04-23 10:39] matthieubulte commented on #95
we have a couple of nice PR easy to merge and then we can release.

unless someone else has time to release now.

[2015-04-23 10:43] ruiaraujo commented on #97
This issue has been solved in #96.

[2015-04-23 10:43] #97 closed

[2015-04-23 10:48] ruiaraujo commented on #95
@matthieubulte I think we should tag 0.2.0 and release it ASAP since it is breaking people's builds.

[2015-04-23 10:52] fidel-karsto commented on #95
@ruiaraujo :+1:

[2015-04-23 10:53] drewzboto commented on #95
@ruiaraujo I added you as a npm collaborator incase you wanted to push immediately.

[2015-04-23 10:54] drewzboto commented on #95
Sounds like @matthieubulte prefers to wait until #76 is merged though before bumping the version

[2015-04-23 10:55] ruiaraujo commented on #95
@drewzboto Thanks. I will check that PR since I have a setup where it happens a lot.

[2015-04-23 12:04] maikdiepenbroek opened #98 "Version 0.1.11 breaks grunt build"
Upon updating to 0.1.11 our grunt build broke with the following log. We were forced to downgrade to 0.1.10.

Registering Gruntfile tasks.
Loading "Gruntfile.js" tasks...ERROR

No tasks specified, running default tasks.
Running tasks: default
Warning: Task "default" not found. Use --force to continue.

[2015-04-23 12:10] ruiaraujo commented on #98
Please update to 0.2.0.

This issue has been fixed.

[2015-04-23 12:10] #98 closed

[2015-04-23 12:13] maikdiepenbroek commented on #98
I was not aware that 0.2.0 was available on npm.

Thanks for the info :)

[2015-04-23 15:27] Valkendorm commented on #95
@ruiaraujo Many thanks for that fix.

[2015-04-23 15:35] fidel-karsto commented on #95
@ruiaraujo thanks :+1: :beers:

[2015-04-23 18:16] ruiaraujo commented on #95
@fidel-karsto I will send you the address for the beer. Augustiner bitte! ;)

[2015-04-23 19:08] fidel-karsto commented on #95
@ruiaraujo excellent choice! ;)

[2015-04-23 22:09] ojacquemart commented on #95
@ruiaraujo Thanks :+1:. Great job!

[2015-04-27 16:19] merriam commented on #65
Whee!  Is still broken btw.  Will try the workaround.

[2015-05-01 11:36] rstadler opened #99 "Proxy Connection Fails, Internal Server Error, error=EPROTO"
connect: {
              options:{
                port: 9999,
                hostname: "localhost",
                base: 'app',
                debug: true,
                open: true,
                keepalive: true
              },
             proxies: [
                      {
                          context: '/netops',
                          host: 		"localhost",

[2015-05-07 20:27] iamchairs commented on #79
The dude made a new version 14 days ago (after almost a year) and didn't fix this?

[2015-05-07 20:36] ruiaraujo commented on #79
@iamchairs Feel free to send in a PR.

The new version was to fix people build which were broken.

[2015-05-08 14:28] AssiaAzzouzi commented on #73
I have the same problem...did anyone find the answer?

[2015-05-08 14:36] juristr commented on #73
unfortunately not yet. Didn't have the time to look into it, but I'm very interested in a solution.

[2015-05-08 20:25] reda-alaoui commented on #73
I just found the solution for my case!
For the record, I was using ```grunt-connect-proxy#0.1.11```.
My project was generated by Yeoman.
Yeoman generated automatically a ```package.json``` containing:
[code]
I changed the ```grunt-contrib-connect``` version to ```0.5.0``` which is the one pulled by ```grunt-connect-proxy#0.1.11```.

That solved ```pdf``` and ```gz``` corruption !
Don't forget to d

[2015-05-08 20:25] #73 closed

[2015-05-21 13:52] chfw commented on #95
@esseti +1, your solution works. Is this already fixed in newer releases? It is strange that one PC(running fedora 16) among 4 had this problem.

[2015-05-25 16:25] Chexpir commented on #98
IMO a 0.1.12 should have been released not to break a lot of builds around the globe :-)

[2015-05-25 16:37] ruiaraujo commented on #98
@Chexpir yup.

[2015-05-27 14:07] lifeisfoo commented on #66
Probably you've copied and pasted this configuration line from the README:

Just define the `value` variable or remove the line.

See https://github.com/drewzboto/grunt-connect-proxy/blob/master/examples/sample.yeoman.grunt.js for a minimal working example.

[2015-05-29 08:41] Gauravkr commented on #93
I am also experiencing the same issue
My proxy setting :
{
            "host": "host.abc.com",
            "port": 9001,
            "context": "/websocket",
            "ws": true,
            "xforward": false,
            "changeOrigin": true
        }

Usage  :
var ws = new WebSocket('ws://localhost:8000/websocket?' + id);

Am I doing any thing wrong here , or is this a reported issue ?
Connec

[2015-06-01 12:55] SpearThruster commented on #79
When will this be addressed?

[2015-06-01 13:13] iamchairs commented on #79
@SpearThruster This was mentioned October 14th. I'm guessing it won't be. We've moved to gulp and no longer have these problems.

[2015-06-02 00:38] thinq4yourself opened #105 "Proxy Server Doesn't Actually Start on Port"
I have a project that uses grunt-connect during development, and we use a proxy server to route requests to our API during development using grunt-connect-proxy. This setup works fine on everyone's local machines, but when I try to set the project up on a remote Linux server, the proxy fails to fun on a port.

When I run `$ grunt serve`, grunt states that the proxy is created. When I look at the l

[2015-06-02 14:36] yconoclast commented on #74
+1

[2015-06-03 21:49] k7n4n5t3w4rt commented on #73
+1 for reda-alaoui's solution.

Changing the grunt-contrib-connect version to 0.5.0 in the main package.json file and doing an "npm update" fixed the problem.

[2015-06-03 21:57] k7n4n5t3w4rt commented on #87
This may or may not be related but I've noticed that the proxy seems to be resolving the domain and sending the request to the IP address. I haven't noticed a problem with the speed of this but I noticed it because the apache server receiving the request doesn't route the request through the virtual host record for the domain.

[2015-06-04 09:05] k7n4n5t3w4rt commented on #69
Ditto for 0.2.0. Maybe it's the new way. Adding this here in case it's driving someone crazy like it did me.

I had to include "headers":

      proxies: [{
        context: '/api', // the context of the data service
        host: 'tidespy.com', // wherever the data service is running
        port: 80, // the port that the data service is running on
        headers: {
            'host': 'tidespy.

[2015-06-05 16:22] dgtman opened #106 "Corporate Proxy Server"
We are behind a corporate proxy server and the only way out to the internet is via that corporate proxy server.

How do we configure the "proxies" options to specify the host/port of our corporate proxy server?

TIA!

[2015-06-05 18:58] jers73 commented on #86
+1

[2015-06-09 10:22] xyzlast commented on #88
I have same problems when post action.
when post call is occur, all request parameters are lost.

[2015-06-12 17:09] aflext commented on #86
hi,guys check this:

[code]

[2015-06-13 02:26] ikhos opened #108 "Proxy returns 503 (Service Unavailable) in Browser"
Hi, I am working with a yeoman generator-angular app and a remote API, my gruntfile config seems to be fine:

[code]

grunt serve --verbose returns this when a request is made:

[code]

I can't find any error there, maybe that the "host" is still localhost:9000, but I'm unsure if that could be a problem and in Chrome I am getting: 503 Service Unavailable, but there is indeed a service running, I k

[2015-06-15 18:56] ikhos commented on #108
After digging some more in the project I found that I had to specify the "host" header too.

https://github.com/drewzboto/grunt-connect-proxy/issues/72

[2015-06-22 13:56] dzdrazil commented on #70
I'm also having this problem on 0.2.0 (win8, node 0.12.2); reverting to 0.1.10 did work for me as well.

[2015-06-26 12:07] rogerxu commented on #106
Same issue as #67

I also want to know the answer.

[2015-06-26 12:13] rogerxu commented on #67
Hi @randelic,

It seems you are also work in SAP as we suffered the same problem of Same-Origin-Policy and corporate proxy for UI5 with OData service.

The author of this grunt plugin seems not have time to work it out. So have you found any other solution for this problem?

Thanks,
Roger

[2015-06-26 12:52] rogerxu commented on #106
I find the answer in another issue. => #69
See the answer by @k7n4n5t3w4rt

[2015-06-27 02:26] #108 closed

[2015-06-28 12:16] sweco-seprst commented on #73
+1 for reda-alaoui's solution.

[2015-06-30 17:27] nvcken commented on #93
+1
I am the same here
My client use new SockJS('/io') can not connect by websocket on firefox, but work fine on chrome
Below my grunt
[code]

[2015-06-30 17:28] nvcken commented on #90
+1
same here

[2015-06-30 17:51] nvcken commented on #93
It works.

[2015-06-30 17:51] nvcken commented on #90
It works.

[2015-07-04 07:25] andhapp commented on #93
@nvcken Does it work for you on version 0.2.0?

[2015-07-04 09:33] nvcken commented on #93
yes

[2015-07-05 17:03] Epimetheus89 commented on #73
+1 for reda-alaoui's solution.

Had problems with .jpeg and .xls files. But that solution solved it. Even upgrading on newest version 0.10.1 did not help.

[2015-07-06 06:30] mnishihan commented on #75
Instead of using `host: 'localhost:3000',` in your proxy configuration, use `host: 'localhost', port: 3000` and it should work.

[2015-07-06 23:08] andhapp commented on #93
@nvcken I tried it with 0.2.0 and I still see the same issue. Could you use the code that I provided in the issue description and see if you could make it work locally? Cheers.

[2015-07-09 13:01] MattSchlobohm commented on #69
I don't even get a request sent unless I add the host header...

Packet capture with wireshark verifies, without host header, it opens connections but never sends the HTTP request...

[2015-07-15 16:01] minznerjosh commented on #79
I dug through the source code and found a simple fix:

To your proxy configuration, add ```protocol: 'https:'```. I think I'll send a PR documenting this configuration option.

[2015-07-30 18:42] yankee42 opened #112 "Adding middleware w/ livereload breaks with grunt-contrib-connect 0.11.0"
The example "Adding the middleware - With Livereload" in the README.md breaks when updating grunt-contrib-connect to version 0.11.0 because the `connect` parameter is missing the methods `static` and `directory`. With version 0.10.1 it still works fine. Here is the error:
[code]

The version history for grunt-contrib-connect says the change in this version was: `update to connect 3.`. I am not fam

[2015-08-03 14:00] annabellor commented on #94
Where is ```[require('grunt-connect-proxy/lib/utils').proxyRequest];``` and ```'configureProxies:server',```? According to the docs, you need that:

[code]

[code]

[2015-08-19 16:17] danielcrisp opened #113 "Proxy error: HPE_INVALID_STATUS"
I use grunt to start a local express server when I'm developing front end templates. Typically I'll be developing the templates and _also_ the mock API endpoints I require for my web app.

My web app is started on port `9000` and my API server is on port `9001`. The proxy allows me to access the API through port `9000` when I need to support browsers that can't use CORS.

I have just set up the ma

[2015-08-21 07:45] AlexSchuetz opened #114 "gzip gets corrupted with firefox-client"
I have an angular-app which consumes a rest-api served by tomcat. The tomcat-servlet uses gzip to compress responses, if "Accept-Encoding" contains gzip.

If I use Chrome, IE or Opera everthing works fine. Only if I use Firefox I get a "content encoding error" and I get this error only if I try to load data over the proxy.
i.e. "http://localhost:9001/restapi/meta" -> "content-encoding-error"
"http

[2015-08-25 08:27] klopfdreh opened #115 "JSON Responses are corrupt if served via proxy"
Hi,

I'm currenty encounter the problem, that via proxy some JSON responses get corrupted. If I access the proxied server directly the response is valid and everything is working.

Response-Header of proxy (port 8000):
[code]
Response-Body:
[code]

Response-Header of Wildfly via direct access (port 8080)
[code]
Response-Body
[code]
(id may differ, because the actual one is returned from server dur

[2015-08-25 11:29] klopfdreh commented on #115
Okay I got it! I only provided the header in this ticket which I thought to be relevant for this issue, but there were others which caused the problem:

They look like:
[code]
Maybe the brackets are causing the issue?!

[2015-08-27 23:37] lostthetrail commented on #70
I confirm this is still happening on 0.2.0

[2015-08-28 13:00] ghost opened #116 "Basic Authentication"
Is it possible to use Basic Authentication here???

Thanks, regards, Annick

[2015-09-07 10:52] Nadrendion commented on #112
+1 I have the very same issue.

[2015-09-11 14:26] jackled commented on #115
Any chance we can get this into a new release soon?

[2015-09-14 10:19] maksimr commented on #86
+1

[2015-09-17 09:05] samsong8610 opened #117 "Proxy to https site error: HPE_INVALID_CONSTANT"
I need proxy http request to an https site on the localhost. My proxy config is as below.

[code]

Start server with `grunt -dv serve`, access `http://localhost:9000/gateway/oauth/authorize` using browser, grunt outputs `Proxy error: HPE_INVALID_CONSTANT`, details as below:

[code]

The error message in my local https site is `http: TLS handshake error from 10.0.2.2:57550: tls: first record does n

[2015-09-18 01:40] whitetrefoil commented on #112
This seems work...

[code]

[2015-09-18 01:56] samsong8610 commented on #117
It works well if installed from github, which is the same version as the previous one.

[code]

[2015-09-18 01:56] #117 closed, assigned to nobody

[2015-09-21 17:21] Deklin commented on #117
+1 Same issue tested on 9/21

[2015-09-24 17:51] StephaniesHusband opened #118 "Rewrite rule: duplicate debug message or duplicate request?"
I have a proxy rewrite rule to redirect a particular path on my "connect" server to another path but i'm seeing both of them in the log when i run with "debug: true".

Here is the rewrite rule:
         server2: {
            proxies: [
               {
                  context: "/templates",
                  host: "localhost",
                  port: 2443,
                  https: false,

[2015-09-29 09:13] devsakshiagarwal commented on #95
@esseti thanks, it worked. :)

[2015-09-30 10:22] hamidhadi opened #119 "404 not found problem!"
Hi. I want to set proxy on generator-angular with "grunt-connect-proxy".
After set configuration in grunt file, I get 404 error in my console for angular server requests.
here is my grunt file:

[code]

[2015-10-01 08:08] haugthom commented on #117
It should also work if we install the package not from github. Does anyone know what the problem is?

[2015-10-01 08:09] haugthom commented on #113
+1

[2015-10-01 15:45] steveoh commented on #114
:+1: any updates @AlexSchuetz

[2015-10-05 09:28] samsong8610 commented on #117
@snajo IMO, this can be fixed by updating NPM package. With the same version, NPM package has different source code from github.

[2015-10-05 11:24] haugthom commented on #117
@samsong8610 Sure, but in my opinion this isn`t a solution if you are behind a firewall which blocks requests against github. The new source code should deployed to npmjs.org with a increased version number.

[2015-10-07 10:14] AlexSchuetz commented on #114
No updates. I'm waiting for some response, since I don't have the time to dig into this any deeper at the moment. Until then the workaround is to simply not use gzip in combination with firefox on serverside.

[2015-10-09 01:04] samsong8610 commented on #117
@snajo I agree.

[2015-10-10 21:59] kofalt commented on #79
Just ran into this, lost a half-hour before finding @minznerjosh's workaround.
Works great, much appreciated.

@drewzboto Thoughts on the workaround above? Can we get this fixed?
I am available to provide any additional details as desired.

[2015-10-15 20:46] mrDarcyMurphy commented on #79
Looking through the changes between v0.2.0 and v0.1.10 I found [this line](https://github.com/drewzboto/grunt-connect-proxy/compare/v0.1.10...v0.2.0#diff-81f66e7f2207080bf1dd04b38ed6bda0R54):

[code]

In short, I got http => https proxying to work by setting my config like so:

[code]

Doing it that way let me proxy my UI's api requests from **http**://localhost:9000/api to my api at **https**://l

[2015-10-16 03:54] fantastao commented on #95
@esseti thanks for the solution!

[2015-10-16 07:36] esseti commented on #95
it should have been fixed.

[2015-10-21 18:01] amir-rahnama commented on #119
@Hamiid is `localhost/wpTreehouse/wp-json/` running at the time you issue `grunt serve`? Because your proxy is setup in a way to use that as proxy.

[2015-10-21 19:55] amir-rahnama commented on #79
:+1: on this! seriously, it sucks!

[2015-10-23 07:28] Edorka commented on #73
+1 for reda-alaoui's solution.

[2015-10-26 12:25] peterandrenilsson opened #121 "Plan for when new version is released?"
Hi!

Wondering if there is a plan for when to release a new version with the fixes contained in master (https proxy specifically)?
Do you recommend to wait for a new release or are the changes in master safe to use?

[2015-10-28 19:45] djett41 commented on #121
+1

[2015-10-30 17:25] ramonchu opened #122 "Proxy no resolve domain name's"
I have configured proxy host with 'serverdomain.com' but it responses 404,
Error searching for the HTTP server IP address: unknown server name.

[2015-11-06 23:55] andrewyoung1991 opened #123 "proxy does not forward {post, patch, put} requests"
so i have my back end service receiving proxy forwards at /api/0.1. my connect config looks like this:

[code]

connect is successfully reaching the api backend on GET requests exclusively, while logging `[D] server POST /api/0.1/login/ 405 0 - 0.183 ms` on any POST PUT PATCH requests before sending the request to the api backend (the backend is never sent the request).

i have tried adding `chang

[2015-11-10 11:08] abuscom-leonhard opened #124 "handle error on request"
The actual version does not handle errors well. They are being lost with a simple error message `Proxy error: ...`.
I would suggest to add the following lines to the error handling in the createProxyServer Section

[code]

[2015-11-24 14:06] glebv commented on #86
+1

[2015-11-26 14:02] ghost commented on #116
Thanks :-)

[2015-11-26 14:57] siryan2 commented on #117
I´ve the same problem here. It only works if I use "npm install git+https://github.com/drewzboto/grunt-connect-proxy.git --save-dev". Is there any fix available?

[2015-12-10 17:19] majster commented on #79
Using "grunt-connect-proxy": "0.2.0", was getting `The plain HTTP request was sent to HTTPS port` while proxying to https.

[code]

Did the job for me.

[2015-12-11 09:48] ghost opened #126 "Change Request Headers"
I have a problem with proxy configuration.
Not matter what I cannot change request headers.
Request if always send with original headers.

[code]

[2015-12-16 20:51] ottosson commented on #119
+1

I have the same issue here: http://stackoverflow.com/questions/34321143/adding-grunt-connect-proxy-to-generator-angular-gruntfile-js

[2015-12-17 13:12] Frank683 commented on #79
+1 Could this please be fixed or at least be document??

Thanks @minznerjosh @mrDarcyMurphy for the solution!

[2015-12-18 15:43] renexdev opened #127 "Trying to make grunt-connect-proxy work under $http.post() with Play 2.4.6 backend"
Hi guys, I'm having some issues on trying to make grunt-connect-proxy works under a $http.post() call.
The problem is that when I checked the opened link generated by a $http.post(), grunt serve doesn't redirect to my back-end app but to the already yeoman serving app. I tried also put a devil "/" in the "context" key to check if I get some response, and the app cannot resolve the route, so I supp

[2015-12-31 01:27] o4ohel opened #128 "No release that incorporates PR #101"
No release that incorporates PR #101

I see that it was merged to master, but there is no version that incorporates this merge. An update would be greatly appreciated.

[2015-12-31 19:21] o4ohel opened #129 "Enable 'auth' option"
Allow the 'auth' option set in a Grunt.js file to be set in the object that is the argument to 'httpProxy.createProxyServer'

[2016-02-01 18:01] mtraynham commented on #128
+1

[2016-02-05 08:12] cholathit commented on #105
I have the same issue. Any guidance is much appreciated.

[2016-02-06 11:17] ronakkaria opened #133 "Default 'host' Header when proxying requests"
Any reason why the "host" header is not set to the host by default?

Ran into a problem with my nginx server when requests were proxied without changing the incoming host header. Just wanted to know if there's any reason behind not making this a default behaviour.

[2016-02-06 15:01] ronakkaria commented on #127
@renexdev I used your code to connect my own server on localhost and it seems to be working. What is your backend app like?

[2016-02-07 20:19] trashhead opened #134 "Don't get session cookie from server it's redirecting to."
Cookies that are set by the server that I'm redirecting to isnt picked up. I see that connection-header is set to "close" is that why the server doesnt set the cookie, does it have to be "keep-alive" ?
How would I do to get the session-cookie ?

[2016-02-09 20:40] renexdev commented on #127
Hi @renexdev, I was trying to use Play framework 2.4...
Thanks for your reply.
Cheers

[2016-02-10 18:18] renexdev commented on #127
@ronakkaria I moved to a plug-in for play called "sbt-yeoman" (https://github.com/tuplejump/play-yeoman) and now I can see routes with angular. Anyway if you have any suggestion on how making  grunt-connect-proxy working with play, please let me know. Thanks for your time.
Cheers, ReneX

[2016-02-14 11:33] zeripath commented on #112
Hi!

So the issue appears to be that grunt-contrib-connect@0.11.0 moved to using connect@3.4.0 which has a different syntax for serving static files. I've just put a bug fix in to grunt-contrib-connect to ask them to make it clearer that the syntax has changed ([grunt-contrib-connect#205](https://github.com/gruntjs/grunt-contrib-connect/issues/205)) however, to be clearer here the fix is to:
1. At

[2016-02-18 10:07] jrno commented on #73
+1 for reda-alaoui's solution.

[2016-02-22 23:14] kg782 commented on #86
+1

[2016-02-28 13:04] pvdh opened #135 "npm differs from git, though it has the same version"
See https://github.com/drewzboto/grunt-connect-proxy/issues/117 for more details.

tl;dr: don't use the npm!

[2016-03-04 14:49] jeroenvollenbrock commented on #113
I'm replying to this topic because of it high search-rank when you search for this error.
This error may occur when you're passing an invalid status code with the HTTP response from within nodeJS without checking for a valid status code, for instance an object instead of a number (I've seen a lot of HTTP/1.1 [Object object] responses pass by when i was helping someone to debug this behaviour)

[2016-03-24 18:51] mteodori commented on #70
same issue here, and the servers I am proxying to have valid certificates, not self-signed ones, the only solution is to stick to grunt-connect-proxy@0.1.10 and block it via npm shrinkwrap --dev

[2016-06-04 18:45] mostafabarmshory commented on #55
remember to add configureProxies before connect task:

1) update dist options

[code]

2) update tasks

[code]

[2016-06-07 22:58] jwgmeligmeyling opened #138 "Unable to set context path on server"
You're unable to set the context path on server. So mapping `/api/` to `/some-context/api/` is extremely tedious. This should be an easy fix.

(Note that this is exactly the opposite of the current `contextPath` option, I am aware of that option)

[2016-06-14 13:12] bartboes opened #139 "Upgrade grunt dependency to 1.0.1"
Can't upgrade project dependencies because grunt-connect-proxy has peer dependency to grunt ~0.4.1

[2016-06-28 11:17] drudkiewicz opened #141 "Proxy error: ECONNRESET while proxying https to https"
I'm forwarding HTTPS to HTTPS on 2 different ports. I tried saying https:true and secure:false with no luck as well. There is no breaking change stated in the changelog for those versions.

Using version 0.1.10 the following configuration works
Using any newer version is broken with Proxy error

[code]

[2016-07-13 03:55] jhubble commented on #141
I am seeing a similar connection reset message when proxying http to https.
However, this is fixed by forcing the github version rather than the npm version:
`npm install git+https://github.com/drewzboto/grunt-connect-proxy.git --save-dev`

[2016-07-18 18:13] brian-slate commented on #141
Same. `npm install git+https://github.com/drewzboto/grunt-connect-proxy.git --save-dev` Fixed it for me too.

[2016-07-25 02:35] linlinlinlin commented on #141
I have similar error message after upgrade `grunt-connect-proxy` from 0.1.10 to 0.2.0 My Gruntfile.js setting as following:

[code]

How can I fix this issue?

[2016-08-22 10:04] LipperZack opened #143 "stucked using win10 and chrome 52.0"
It's would use huge memory when my fellow using his win10 to start his project.
and out of memory when open the develop tool...
but when not using "grunt-connect-proxy", it all be fine!
so curious...

env:
windows 10
chrome version: 52.0.2743.116 m (64-bit)

[2016-08-26 06:14] Microserf commented on #114
I am running into the same issue. When GZip encoded-content is presented from the proxied source (a Django webserver, in my case), the encoding is functional. However, after making its way to my browser via grunt-connect-proxy, the content is corrupted.

Chrome throws a "ERR_CONTENT_DECODING_FAILED" error, and cUrl gives me "curl: (23) Error while processing content unencoding: invalid block type"

[2016-08-29 07:35] hoeni commented on #114
Well, same here. Took me some time to trace the problem to the fact that connect-proxy seems to have a problem with gzipped content. Lucky that it's just a vagrant machine with a Ubuntu/Apache/PHP backend in my case, so a simple `a2dismod deflate` was a quick workaround for me. (Hower that should be fixed here)

[2016-08-29 14:23] kjatti opened #144 "Unable to proxy to a https server"
The current released version 0.2.x cannot proxy to a https target, this is because of changes to the underlying 'http-proxy' package. This issue is fixed in the master but there has been no release done in more than a year.

[2016-08-30 08:32] #143 closed, assigned to nobody

[2016-08-30 08:35] LipperZack commented on #143
it seems a deeper watch in nvd3 and printed a mass of log until chrome crash...
sorry to bother here

[2016-09-22 18:38] scirelli commented on #63
I had forgotten to do [this](https://github.com/drewzboto/grunt-connect-proxy#adding-the-configureproxy-task-to-the-server-task) which is why wasn't working.

[code]

[2016-10-25 08:50] bjornharrtell commented on #139
Forked and released as https://www.npmjs.com/package/grunt-connect-proxy2.

[2016-10-25 08:50] bjornharrtell commented on #144
Forked and released as https://www.npmjs.com/package/grunt-connect-proxy2.

[2016-11-24 21:26] cowwoc commented on #115
@klopfdreh I am willing to bet this is caused by https://github.com/drewzboto/grunt-connect-proxy/issues/73#issuecomment-100352502

[2016-11-25 05:21] klopfdreh commented on #73
+1 for the solution mentioned by @reda-alaoui

[2016-11-25 05:21] klopfdreh commented on #115
Hi @cowwoc - it seems so yes. 👍

[2016-12-02 00:10] isamulenko commented on #144
+1

[2016-12-13 23:41] oklymenk commented on #144
https://github.com/bjornharrtell/grunt-connect-proxy2 is a 404

[2016-12-14 05:48] bjornharrtell commented on #144
grunt-connect-proxy2 is only used as the new package name, the fork can be found at https://github.com/bjornharrtell/grunt-connect-proxy.

[2016-12-14 05:55] drewzboto commented on #144
hi! sorry i've pretty much ran out of time to maintain the project since becoming a father. I'm happy to open up admin access to this project and the npm package to let everyone keep it going. Let me know if that's of interest and i'll take care of that. Also happy to migrate this off to another repo as needed

[2016-12-14 14:06] bjornharrtell commented on #144
You are also father to your code. :)

Joke aside, while I don't think I got time or need for proper maintenance I'm willing put some time into upgrading the deps and publishing a new version if not for no other reason to be able to obsolete my fork.

[2016-12-23 10:51] ext commented on #144
I use this package both for personal projects and at work. Would really like to see some updates, especially with HTTPS.

I understand that you might not have the time to properly maintain it yourself and as you say the best course of action would probably be to let someone take over maintenance over it.

@bjornharrtell seems like a good candidate. I would also volunteer but I'm not yet familiar w

[2017-01-19 13:13] patrickallaert commented on #14
@HriBB Yes, grunt-connect-proxy should be able to change the "Host" header of the request to match the destination. This used to be supported with the `changeOrigin` option but support has been dropped apparently in version 0.1.11 (b468057991730da42dea4359008c6c109798914a).

The real problem is that changeOrigin should be true by default in _http-proxy_ package (you may +1 my issue here: https://g

[2017-02-14 02:56] idododu commented on #123
+1, met the same issue, tried below two suggestions, but failed.

http://stackoverflow.com/questions/25137981/rewrite-cookie-paths-when-using-grunt-connect-proxy
https://coderwall.com/p/bwrb1w/enable-post-rest-requests-in-grunt-contrib-connect

[2017-02-16 16:58] reppners commented on #114
Another workaround is to apply the fix mentioned in https://github.com/nodejitsu/node-http-proxy/issues/1007

[code]

[2017-03-27 08:08] zbindenren commented on #141
Same issue here.

[2017-04-06 09:22] MishraSachin commented on #79
same issue. while generating let'sencrypt certificate for my domain.
How to solve this?

[2017-07-07 09:09] heppy83 commented on #141
Same for me. npm install git+https://github.com/drewzboto/grunt-connect-proxy.git --save-dev fixed the issue.

It would be great if the NPM version too was working as the git one

[2017-07-14 13:15] qtxo commented on #123
Had the same problem but turns out it is the order of the middlewares. In my case this did the trick:

middleware: function (connect, options, middlewares) {
	middlewares.unshift(require("grunt-connect-proxy/lib/utils").proxyRequest);
	middlewares.unshift(require("http-rewrite-middleware").getMiddleware(
				[ {from: "^/gat/(.*)$", to: "/$1"} ], { verbose: false }));
	return middlewares;
}

[2017-08-29 08:07] dylanmensaert opened #145 "'Allow: GET, HEAD, OPTIONS' header being added unwillingly"
I try to enable CORS via middleware option by adding extra headers to the response. My code for this is:

[code]

 This works correctly, but an extra header is being added also which makes the response invalid. The header being added is `Allow: GET, HEAD, OPTIONS`.

I tried to add code to the unshift method to remove this header, namely `res.removeHeader('Allow');`, but it does not seem to work.

[2017-09-29 17:22] jmfee-usgs commented on #144
I have the same issue, neither the `https` or `secure` options seem to have any effect, but found a work around by using this in your proxy config:
[code]

For example:
[code]

[2017-11-02 10:44] kevalbhatt commented on #139
@bjornharrtell  I am not able to see GitHub repo for the same

@drewzboto can you please update dependency to support grunt 1.0.1?

[2017-11-02 10:46] bjornharrtell commented on #139
Sorry, I've stopped using this a long time ago and will not spend any more time on it.

[2017-12-30 16:29] lrkwz commented on #144
I successfully run grunt-connect-proxy2 with the following config https://stackoverflow.com/a/48035737/509565

Thank you @bjornharrtell

[2018-01-18 17:51] zkendall commented on #93
Mine worked after I added `changeOrigin: true`. Apparently my server was snipping the connection during handshake.

[2018-01-22 13:46] andreiropotica commented on #139
Up @drewzboto

[2018-02-26 10:32] spyro2000 commented on #133
+1 (Having the exact same problem)

[2018-06-05 07:57] KeKsBoTer opened #146 "errorHandler deprecated?"
It seams like the errorHandler prop is not doing anything.

[2018-11-19 19:39] #69 closed

[2018-12-21 17:29] thejeff77 commented on #86
+1

[2019-10-11 14:35] jcubic commented on #16
How to use this debug option? --verbose don't work, there are no documentation only source code and changelog. It's hard to figure out what need to be send by looking at the code.

[2020-07-01 17:57] #85 closed

[2021-02-26 17:35] michaellouviere commented on #80
Did you ever figure this out? Looking to do something similar.

[2021-03-01 19:16] Vishrut-Arora commented on #80
Charles proxy is a web debugging tool. Can you elaborate on what is your requirement? @michaellouviere